@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body{
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.6), /* Adjust the opacity (last value) to control the darkness of the overlay */
    rgba(0, 0, 0, 0.8)
  ), url('./images/cover.jpg');
  background-size: cover; /* Adjusts the background image to cover the entire viewport */
  background-position: center center; /* Centers the background image */
  background-repeat: no-repeat; /* Ensures the background image is not repeated */
}

*{
  font-family: 'Manrope' !important;
}
/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.MuiContainer-root {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.MuiTextField-root {
  margin-bottom: 16px;
}

.MuiButton-root {
  margin-top: 16px;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid white;
}

th, td {
  padding: 10px;
  text-align: center;
}